*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root{
    --dark-green: #2F4F4F;
    --white: #FFFFFF;
    --green: #467474;
    --water-green: #60A1A0;
    --gray-green: #648991;
    --light-gray-green: #9DB6BC;
    --background: #3C6B6B;
    --white: #fff;
    --black: #000;    
    
}

body{
    min-height: 100vh;
    background-color: var(--background);
}



header{
    background: var(--background);
    padding-block: 1.5rem;
    padding-left: 1rem;
    display: flex;
    justify-content: center;
    
    align-items: center;
}

header nav{
    margin-inline: auto;
    
}

header div{
    margin-left: 0.5rem;
}

.logo{
    display: flex;
    gap: 0.5rem;
    margin-left: 4rem;
}


header div a{
    font-size: 30px;
    letter-spacing: 0.3rem;
    text-decoration: none;
    color: var(--white);
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
}

header img {
    border-radius: 10rem;
}

header nav  a{
    font-weight: 700;
    font-size: 18px;
    font-family: "Quicksand", sans-serif;
    text-transform: uppercase;
    margin-left: 4rem;
    text-decoration: none;
    color: var(--white);

}
main{
    background-image: url(./assets/background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

main h1{
    font-size: 6rem;
    color: var(--white);
    font-family: "Dm Serif Display", sans-serif;

}
main p{
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    background: var(--white);
    letter-spacing: 0.3rem;
}

main button{
    color: var(--white);
    background: var(--dark-green);
    margin-top: 2rem;
    width: 10rem;
    font-family: "Radio Canada Big", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.climatologia h2{
    color: #FFF;

    text-align: center;
    font-family: "DM Serif Display";
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
}

.climatologia{
    display: flex;
    flex-direction: row-reverse;
}


