*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dark-green: #2F4F4F;
    --white: #FFFFFF;
    --green: #467474;
    --water-green: #60A1A0;
    --gray-green: #648991;
    --light-gray-green: #9DB6BC;
    --background: #3C6B6B;
    --white: #fff;
    --black: #000;
    --white-green: #59765D;

    
    
}

header{
    background: var(--background);
    padding-block: 1.5rem;
    padding-left: 1rem;
    display: flex;
    justify-content: center;
    
    align-items: center;
}

.active{
    color:aqua;
}

header nav{
    margin-inline: auto;
    
}

header div{
    margin-left: 0.5rem;
}

.logo{
    display: flex;
    gap: 1rem;
    margin-left: 4rem;
}


header div a{
    font-size: 30px;
    letter-spacing: 0.3rem;
    text-decoration: none;
    color: var(--white);
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
}

header img {
    border-radius: 10rem;
}

header nav  a{
    font-weight: 700;
    font-size: 18px;
    font-family: "Quicksand", sans-serif;
    text-transform: uppercase;
    margin-left: 4rem;
    text-decoration: none;
    color: var(--white);

}

main {
    background-color: var(--background);
    color: #FFFFFF;

    
    
    flex-direction: row;

}

main h1{
    font-size: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 7rem;
    
}

main button {
    color: var(--white);

    background-color: var(--water-green);
    opacity: 85%;
    font-family: 'Poppins', sans-serif;
    width: 7rem;
    height: 2rem;
    border-radius: 0.3rem;
    border: none;
    margin-left: 5rem;
    margin-top: 2rem;
    cursor: pointer;
}

button:hover {
    background-color: rgba(75, 145, 145, 0.726);
}

main p{
   
width: 620px;
height: 84px;
left: 0px;
top: 121px;

font-family: "Quicksand";
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 140%;
/* or 28px */
text-transform: uppercase;
}

.clima{
    position: absolute;
    width: 554px;
    height: 243px;  
    left: 769px;
    top: 225px;
}

.clima h1{
    text-align: justify;
    margin-bottom: 3rem;
    margin-top: 0rem;
    font-size: 4.0rem;
}

.clima p{
margin-left: 5rem;
}

.clima button {
    display: flex;
    width: 12.9rem;
    height: 50px;
    padding: 1rem 2.3rem 1.01rem 2.25rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    text-transform: uppercase;
}

section h1 {
    font-family: 'Dm Serif Display', sans-serif;
    text-transform: uppercase;
    color: var(--black);

    display: flex;
    flex-direction: column;

}

section{
    background-color: var(--white);
}

.aquecimentoGlobal{
    display: flex;
    width: 26.2rem;
    height: fit-content;
    padding: 5rem 5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    background-color: var(--white-green);
    opacity: 60%;
}

.desmatamento{
    display: flex;
    width: 26.2rem;
    height: fit-content;
    padding: 5rem 5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    background-color: var(--white-green);
    opacity: 60%;
    margin-inline: auto;
}

.poluicaoHidr{
    display: flex;
    width: 26.2rem;
    height: fit-content;
    padding: 5rem 5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    background-color: var(--white-green);
    opacity: 60%;
    margin-inline: auto;
}

.poluicaoAt {
    display: flex;
    width: 26.2rem;
    height: fit-content;
    padding: 5rem 5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    background-color: var(--white-green);
    opacity: 60%;
    margin-inline: auto;
}

.queimadas {
    display: flex;
    width: 26.2rem;
    height: fit-content;
    padding: 5rem 5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    background-color: var(--white-green);
    opacity: 60%;
    margin-inline: auto;
}

.perdaBio {
    display: flex;
    width: 26.2rem;
    height: fit-content;
    padding: 5rem 5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    background-color: var(--white-green);
    opacity: 60%;
    margin-inline: auto;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    
}

.cards h1 {
    font-family: 'Lora', sans-serif;
}

.cards p {
    font-family: Lora;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: none;
    width: 20rem;
}

.cards button {
    background-color: var(--dark-green);
}
