*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root{
    --dark-green: #2F4F4F;
    --white: #FFFFFF;
    --green: #467474;
    --water-green: #60A1A0;
    --gray-green: #648991;
    --light-gray-green: #9DB6BC;
    --background: #3C6B6B;
    --white: #fff;

    
    
}

body{
    min-height: 100vh;
}

header{
    background: var(--background);
    padding-block: 1.5rem;
    padding-left: 1rem;
    display: flex;
    justify-content: center;
    
    align-items: center;
}

.active{
    color:aqua;
}

header nav{
    margin-inline: auto;
    
}

header div{
    margin-left: 0.5rem;
}

.logo{
    display: flex;
    gap: 1rem;
    margin-left: 4rem;
}


header div a{
    font-size: 30px;
    letter-spacing: 0.3rem;
    text-decoration: none;
    color: var(--white);
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
}

header img {
    border-radius: 10rem;
}

header nav  a{
    font-weight: 700;
    font-size: 18px;
    font-family: "Quicksand", sans-serif;
    text-transform: uppercase;
    margin-left: 4rem;
    text-decoration: none;
    color: var(--white);

}

main{
    background-image: url(../assets/enembackground.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
     
}

.home {
    position: absolute;
    left: 4.9375rem;
    top: 25rem;
}

.home h1 {
    font-size: 5rem;
    color: var(--white);
    
}

.home p {
    padding-top: 1.5rem;
    font-size: 1.2rem;
    width: 40rem;
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    padding-bottom: 1rem;
}

.container {
    content: "";
    display: block;
    width: 5rem;
    height: 0.9rem;
    background-color: var(--white);
    margin-top: 0.5rem;
}

.home button {
    background-color: var(--water-green);
    color: white;
    border: none;
    padding: 0.9375rem 3.125rem;
    font-size: 1.125rem;
    font-weight: 500;
    border-radius: 0.5rem;
    cursor: pointer;
    letter-spacing: 0.10rem;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s ease;
    text-transform: uppercase;
}

button:hover {
    background-color: rgba(75, 145, 145, 0.726);
}

.sobre {
    display: flex;
    padding-bottom: 10rem;
    padding-top: 10rem;
    padding-left: 10rem;
    gap: 20rem;
    height: 26rem;
}

.between {
    width: 30.25rem;
    color: #4C4C4C;
    font-family: Quicksand;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    

   
}


.sobre h1 {
    color: #2F4F4F;
    font-family: "DM Serif Display";
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    display: flex;
    
    gap: 3.25rem;
}

.bottom-image-section {
    img{
        width: 100%;
        height: 54.0625rem;
        flex-shrink: 0;
    }
    
}

.confira {
    display: flex;
    width: 12.9375rem;
    height: 3.125rem;
    padding: 0.98856rem 2.25rem 1.01144rem 2.25rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    background: var(--water-green);
    color: var(--white);
    cursor: pointer;

    text-align: center;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    border: none;
    transition: 0.3s ease;
    margin-top: 2.56rem;
    
    
}

.enem{
    display: flex;
    gap: 12.09rem;
    justify-content: center;
    
    h1{
        width: 25.41406rem;
        color: #2F4F4F;

        font-family: "DM Serif Display";
        font-size: 4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; 
        margin-left: 5.38rem;
        margin-top: 15.06rem;
    }
    
}

.between2{
    h2{
        color: #2F4F4F;

        font-family: Quicksand;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 600;
        line-height: 140%; /* 1.75rem */
        text-transform: uppercase;
        margin-bottom: 1rem;
        text-align: center;
        margin-top: 15.06rem;
        
    }
    
    ul{
        color: #4C4C4C;

        font-family: Quicksand;
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        margin-bottom: 24rem;
    }

    
}
