*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dark-green: #2F4F4F;
    --white: #FFFFFF;
    --green: #467474;
    --water-green: #60A1A0;
    --gray-green: #648991;
    --light-gray-green: #9DB6BC;
    --background: #3C6B6B;
    --white: #fff;
    --black: #000;
    --white-green: #59765D;

    
    
}

header{
    background: var(--background);
    padding-block: 1.5rem;
    padding-left: 1rem;
    display: flex;
    justify-content: center;
    
    align-items: center;
}

#user-status-display{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-family: "Quicksand", sans-serif;
        
        margin-right: 1rem;

        .img-text{
            display: flex;
            align-items: center;
            gap: 0.5rem;
            color: var(--white);
            font-size: 1.5rem;
        }

        a{
            font-family: Quicksand;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 700;
            line-height: 120%; /* 1.35rem */
            letter-spacing: 0.05625rem;
            
        }
    }

.active{
    color:#61AA88;
}

header nav{
    margin-inline: auto;
    
}

header div{
    margin-left: 0.5rem;
}

.logo{
    display: flex;
    gap: 1rem;
    margin-left: 4rem;
}


header div a{
    font-size: 1.875rem;
    letter-spacing: 0.3rem;
    text-decoration: none;
    color: var(--white);
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
}

header img {
    border-radius: 10rem;
}

header nav  a{
    font-weight: 700;
    font-size: 18px;
    font-family: "Quicksand", sans-serif;
    text-transform: uppercase;
    margin-left: 4rem;
    text-decoration: none;
    color: var(--white);

}

body{
    min-height: 100vh;
    min-width: fit-content;

}

main{
    height: 100vh;
    width: 100%;
    background-image: url(../assets/equipe-img.png);
    background-size: 100%;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7.64rem;
}

section h1{
    color: #FFF;

    font-family: Quicksand;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 1.5rem */
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
    margin-bottom: 2.76rem;
    text-align: center;
}

section {
    margin-bottom: 2.95rem;
    cursor: pointer;
}

section:hover{
    background-color: var(--background);
    padding: 1.36rem 1.36rem;
    border-radius: 3.125rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
    
    .geovana img{
        margin-inline: auto;
    }
     h1{
        color: var(--white);
    }

    p{
        color: var(--white);
    }
}

div p{
    color: #FFF;

    text-align: justify;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Quicksand;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
}

.insta{
    display: flex;
    gap: 1rem;
}

.insta-ge{
    display: flex;
    gap: 1rem;
}

.insta-gui{
    display: flex;
    gap: 1rem;
}

.insta-lu{
    display: flex;
    gap: 1rem;
}

.insta-pe{
    display: flex;
    gap: 1rem;
    
}

