*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dark-green: #2F4F4F;
    --white: #FFFFFF;
    --green: #467474;
    --water-green: #60A1A0;
    --gray-green: #648991;
    --light-gray-green: #9DB6BC;
    --background: #3C6B6B;
    --white: #fff;
    --black: #000;

    
    
}

header{
    background: var(--background);
    padding-block: 1.5rem;
    padding-left: 1rem;
    display: flex;
    justify-content: center;
    
    align-items: center;
}

.active{
    color:aqua;
}

header nav{
    margin-inline: auto;
    
}

header div{
    margin-left: 0.5rem;
}

.logo{
    display: flex;
    gap: 1rem;
    margin-left: 4rem;
}


header div a{
    font-size: 1.875rem;
    letter-spacing: 0.3rem;
    text-decoration: none;
    color: var(--white);
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
}

header img {
    border-radius: 10rem;
}

header nav  a{
    font-weight: 700;
    font-size: 18px;
    font-family: "Quicksand", sans-serif;
    text-transform: uppercase;
    margin-left: 4rem;
    text-decoration: none;
    color: var(--white);

}

body{
    min-height: 100vh;
    min-width: fit-content;
}

main{
    height: 100vh;
    background-image: url(../assets/jogo-img.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
}

main h1{
    width: 52.8125rem;
    
    flex-shrink: 0;

    color: #FFF;

    font-family: "DM Serif Display";
    font-size: 5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
    text-align: center;
    
}

main p{
    width: 38.75rem;
    color: #F7F5EF;

    text-align: center;
    font-family: Quicksand;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 1.05rem */
    letter-spacing: 0.2625rem;
    text-transform: uppercase;
}

main button{
    border-radius: 0.25rem;
    background: rgba(96, 161, 160, 0.85);

    display: flex;
    width: 12.9375rem;
    height: 3.125rem;
    padding: 0.98856rem 2.25rem 1.01144rem 2.25rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
    border: none;

}

main button a{
    width: 8.4375rem;
    height: 1.125rem;
    flex-shrink: 0;

    color: #FFF;

    text-align: center;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 1.2rem */
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-decoration: none;
    
   
}

main button:hover{
    opacity: 85%;
    background: var(--background);
    
    transition: 0.3s;
}


