*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --dark-green: #2F4F4F;
    --white: #FFFFFF;
    --green: #467474;
    --water-green: #60A1A0;
    --gray-green: #648991;
    --light-gray-green: #9DB6BC;
    --background: #3C6B6B;
    --white: #fff;
    --black: #000;    
    
}

body{
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../assets/b8047ad2f19dea4052bb2512b256ab9abe070b0b.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0%;
    
    min-width: fit-content;
}

header{
    background: var(--background);
    padding-block: 1.5rem;
    padding-left: 1rem;
    display: flex;
    justify-content: space-between;
    
    
    align-items: center;
}

header nav{
    margin-inline: auto;
    
}

header div{
    margin-left: 0.5rem;
}

.logo{
    display: flex;
    margin-left: 4rem;
    gap: 1rem;
}


header div a{
    font-size: 1.875rem;
    letter-spacing: 0.3rem;
    text-decoration: none;
    color: var(--white);
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
}

header img {
    border-radius: 10rem;
}

header nav  a{
    font-weight: 700;
    font-size: 18px;
    font-family: "Quicksand", sans-serif;
    text-transform: uppercase;
    margin-left: 4rem;
    text-decoration: none;
    color: var(--white);

}

#form-cadastro{
    width: 30.75rem;
height: 42rem;
border-radius: 3.125rem;
background: #FFF;
display: flex;
flex-direction: column;
gap: .2rem;
margin-block: 5.5rem;
padding-top: 3rem;
margin-inline: auto;

input{
    width: 25.125rem;
height: 4.3125rem;
border-radius: 1.25rem;
background: rgba(176, 186, 195, 0.40);
margin-left: 2.56rem;
border: none;
padding-left: 1.38rem;
box-shadow: 1 px solid rgba(0, 0, 0);
font-family: "Poppins", sans-serif;
font-size: 1rem;



::placeholder{
    margin-block: 1.44rem;
    margin-left: 1.38rem;
}


}

label{
    color: #7C838A;


font-family: Poppins;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 1.40813rem; /* 140.813% */
margin-left: 3.25rem;

}

h1{
    color: #000;

text-align: center;
font-family: Poppins;
font-size: 2.5rem;
font-style: normal;
font-weight: 600;
line-height: 1.40813rem; /* 93.875% */
margin-bottom: 4.25rem;
}

button{
    width: 25.125rem;
height: 4.3125rem;
border-radius: 1.25rem;
background: #3C6B6B;
border: none;
cursor: pointer;

color: #FFF;

text-align: center;
font-family: Poppins;
font-size: 1.25rem;
font-style: normal;
font-weight: 600;
line-height: 1.40813rem; /* 112.65% */
margin-inline: auto;
margin-top: 1rem;

}

button:hover{
    opacity: 0.6;
    color: #FFF;
    transition: .7s;
}

p{
    color: #000;

text-align: center;
font-family: Poppins;
font-size: 1rem;
font-style: normal;
font-weight: 500;
line-height: 1.40813rem; /* 140.813% */


}

a{
    text-decoration: none;
    margin-top: .5rem;
}
}