*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dark-green: #2F4F4F;
    --white: #FFFFFF;
    --green: #467474;
    --water-green: #60A1A0;
    --gray-green: #648991;
    --light-gray-green: #9DB6BC;
    --background: #3C6B6B;
    --white: #fff;
    --black: #000;

    
    
}

body{
    min-height: 100vh;
}

header{
    background: var(--background);
    padding-block: 1.5rem;
    padding-left: 1rem;
    display: flex;
    justify-content: center;
    
    align-items: center;
}

.active{
    color:aqua;
}

header nav{
    margin-inline: auto;
    
}

header div{
    margin-left: 0.5rem;
}

.logo{
    display: flex;
    gap: 1rem;
    margin-left: 4rem;
}


header div a{
    font-size: 1.875rem;
    letter-spacing: 0.3rem;
    text-decoration: none;
    color: var(--white);
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
}

header img {
    border-radius: 10rem;
}

header nav  a{
    font-weight: 700;
    font-size: 18px;
    font-family: "Quicksand", sans-serif;
    text-transform: uppercase;
    margin-left: 4rem;
    text-decoration: none;
    color: var(--white);

}

main{

    background-image: url(../assets/jogo-img.png);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    color: var(--white);
    gap: 0.625rem;

    iframe{
        width: 50rem;
        height: 37.5rem;
        border: .1875rem solid var(--water-green);
        border-radius: 0.75rem;
        box-shadow: 0px 0px 20px rgba(0,0,0,0.6);
        
    }

    button{
        padding: 0.625rem 1.25rem;
        border: none;
        border-radius: 0.5rem;
        background: var(--background);
        color: var(--white);
        text-align: center;
        font-family: "Radio Canada Big";
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.225rem;
        cursor: pointer;
        margin-top: 1rem;
        
    }

    button:hover{
        background: var(--white);
        color: var(--background);
        transition: .4s;
    }
}